// COLOR PALETTE

$color-primary: #122852;
$color-secondary: #F14F31;

$color-yellow: #FFB700;

// BASIC RESET

* {
    margin: 0;
    padding: 0;
    
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

// REUSABLE ELEMENTS

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: $color-primary;
}

header {
    height: 144px;
    background-image: url("../images/header-background_image-grid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $color-primary;

    display: flex;
    flex-direction: column;

    & .heading {
        color: #fff;
        margin: auto 0;

        & h1 {
            &::after {
                display: none;
            }
        }
    }
}

.container {
    padding: 0 5rem;
}

section {
    margin: 0 -5rem;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    // align-items: center;

    &.justify-center {
        text-align: center;
        align-items: center;

        & h2::after {
            margin: 1.5rem auto;
        }
    }

    & div {
        flex: 1;
    }

    &.pullquote {
        background-color: $color-secondary;
        text-align: center;
        padding: 5rem 10rem;

        & p {
            font-family: 'Crimson Pro', serif;
            color: #fff;
        }
    }
}

.logo {
    width: 160px;
    padding-bottom: 0.5rem;
}

h1, h2 {
    font-family: 'Crimson Pro', serif;
    font-weight: 500;

    &::after {
        content: ' ';
        display: block;
        width: 80px;
        border-bottom: 1px solid $color-secondary;
        margin: 1.5rem 0;
    }
}

h1 {
    font-size: 3.5rem;

    &::after {
        margin: 1.5rem auto;
    }
}

h2, blockquote p {
    font-size: 2.5rem;
    line-height: 3rem;
}

h3, p {
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

// LIST STYLE

ul {
    list-style-position: inside;
}

a:link,
a:visited {
    font-size: .8rem;
    text-decoration: none;
}

.highlight {
    color: $color-secondary;
}

// BUTTON

.btn, .wpcf7-submit {
    display: inline-block;
    font-weight: 700;
    letter-spacing: .05rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 1.5rem 0;

    &:focus {
        outline: none;
    }
}

.btn-full, .wpcf7-submit {
    background-color: $color-yellow;
    color: #fff;
    padding: .8rem 3rem;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    transition: all .2s ease-out;

    &:hover {
        background-color: #FFC533;
    }

    &:active {
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
        transform: translateY(1px);
    }
}

.btn-outline {
    border: 2px solid $color-primary;
    color: $color-primary;
    padding: .6rem 2rem;
    transition: all .2s ease-out;

    &:hover {
        background-color: #d5e1f6;
    }

    &:active {
        background-color: #c0d1f1;
    }
}

// TOP NAVIGATION

// DEFAULT (FLOATING)
#nav {
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    // BETTER IDEA
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: background-color .2s ease-in;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    & #menu-header {
        display: flex;

        & .menu-item {
            list-style: none;
            padding-bottom: .2rem;
            letter-spacing: .05rem;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            transition: border-bottom .2s ease-in;

            &:hover {
                border-bottom: 1px solid $color-yellow;
            }

            &.current-menu-item {
                border-bottom: 1px solid $color-yellow;
            }

            & a {
                color: $color-primary;
            }
        }

        & .menu-item:not(:first-child) {
            margin-left: 3rem;
        }
    }

    // STICK TO TOP
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // NOT FLOATING (ON FRONT-PAGE)
    &.top-of-page {
        background-color: transparent;
        box-shadow: none;
    
        & #menu-header {
            & .menu-item {
                & a {
                    color: #fff;
                }
            }
        }

        & .btn-expand {
            color: #fff;

            &:hover {
                background-color: #173469;
            }
        }
    }
}

// COLLAPSIBLE SIDEBAR

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #0e1f3f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all .5s;

    & a {
        padding: 8px 8px 8px 40px;
        font-size: 25px;
        color: $color-secondary;
        display: block;
        transition: all .3s;
    
        &:hover {
            color: #fff;
        }
    }

    & .btn-collapse {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.btn-expand {
    font-size: 20px;
    color: $color-primary;
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
    display: none;

    &:hover {
        background-color: #d5e1f6;
    }

    &:focus {
        outline: none;
    }
}
  
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

// CONTACT FORM

.wpcf7-form {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & .col {
        flex: 1 0 45%;

        display: flex;
        flex-direction: column;

        & label {
            font-size: .8rem;
        }

        & .wpcf7-form-control-wrap {
            display: block;

            &.your-message {
                height: 92%;
            }

            & .wpcf7-not-valid-tip {
                position: absolute;
                right: 0;
                top: -55%;
            }
        }

        & .wpcf7-form-control {
            font-size: .8rem;
            width: 100%;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            margin: .2rem 0 .5rem 0;
            padding: .8rem;

            &:focus {
                outline: none;
                border: 1px solid $color-yellow;
            }
        }

        & .wpcf7-textarea {
            height: 100%;
            resize: vertical;
        }
    }

    & .col:nth-of-type(2) {
        margin-right: 10%;
    }

    & p {
        margin: 0;

        & .wpcf7-submit {
            width: 100%;
        }

        & .ajax-loader {
            display: inline;
        }
    }

    & .wpcf7-response-output {
        font-size: .8rem;
        flex-basis: 100%;
        margin: 0;
        padding: 1rem;
    }
}

// FOOTER

footer {
    background-color: $color-primary;

    display: flex;

    & .footer-content, & .footer-sitemap {
        color: #fff;
        padding: 3rem 0;

        flex: 1;

        display: flex;

        & p {
            font-size: .8rem;
            margin: 0;
        }
    }

    & .footer-content {
        flex-direction: column;
        justify-content: space-between;

        li {
            list-style: none;
        }
    }

    // FOOTER SITEMAP MENUS
    & .footer-sitemap {
        li {
            list-style: none;
        }

        & #menu-footer-menu, #menu-footer-legal {
            & .menu-item {
                list-style: none;
                margin-bottom: .5rem;
                
                & a {
                    color: #fff;
                }
            }
        }

        & .widget_nav_menu:not(:first-child) {
            margin-left: 5rem;
        }
    }
}

// PAGE: FRONT PAGE

#front-page-content {
    & section {
        flex-flow: row wrap;
    }

    & > section:nth-of-type(odd) {
        background-color: #F0F2FC;
    }

    & #section-what, & #section-result, & #section-services {
        padding-bottom: 0;

        & div {
            margin: 0 2rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.image-container {
                align-self: flex-end;
            }
        }
    }

    #section-testimonial {
        padding: 3rem 5rem;
    
        & .testimonials {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
    
            & img {
                height: 40px;
                flex: 1;
            }
    
            & #drop-logo {
                margin-top: .5rem;
            }
        }
    }
}

// PAGE : APPROACH

#section-challenges {
    flex-flow: row wrap;
    align-items: flex-start;

    & h2 {
        flex-basis: 35%;
        padding-right: 2.5rem;

        &::after {
            display: none;
        }
    }

    & p {
        flex-basis: 65%;
        padding-left: 2.5rem;
        border-left: 1px solid $color-secondary;
    }
}

#section-process {
    position: relative;

    & h2 {
        margin-bottom: 5rem;
    }

    & .process-list {
        display: flex;
        flex-flow: column nowrap;

        & .process-item {
            width: 50%;
            display: flex;
            align-items: center;

            & span {
                background-color: $color-secondary;
                border-radius: 50%;
                padding: 2rem 2.2rem;
                text-align: center;

                & i {
                    color: #fff;
                    font-size: 1.2rem;
                }
            }

            &:nth-of-type(odd) {
                & span {
                    margin-left: 3rem;
                    margin-right: -42px;
                }
            }

            &:nth-of-type(even) {
                align-self: flex-end;

                & span {
                    margin-right: 3rem;
                    margin-left: -42px;
                }
            }
        }
    }

    & .vertical-line {
        content: " ";
        height: 100%;
        top: 0;
        left: 50%;
        position: absolute;
        border: 1px solid $color-secondary;
        z-index: -1;
    }
}

// PAGE : ABOUT

.about-page-content {
    & section {
        &:nth-of-type(odd) {
            background-color: #F0F2FC;
        }

        &.section-title {
            background-color: #fff;
        }
    }

    & #section-intro {
        align-items: flex-start;

        & h1::after {
            display: none;
        }
    }

    & #section-team {
        flex-flow: row wrap;
    }
}

#section-contact {
    & h1 {
        align-self: center;
    }

    & h2 {
        text-align: center;

        &::after {
            margin: 1.5rem auto;
        }
    }
}

.wp-block-group {
    margin-bottom: 3rem;

    & li {
        line-height: 2rem;
    }

    & a {
        font-size: 1rem;
        color: $color-secondary;
    }
}

.section-title {
    margin-bottom: -5rem;
    text-align: center;
}

// MEDIA QUERIES

@media only screen and (max-width: 992px) {
    #front-page-content {
        & section {
            flex-flow: column nowrap;
            text-align: center;

            & h2::after {
                margin: 1.5rem auto;
            }

            &#section-what, &#section-result, &#section-services {
                & div {
                    margin: 0;
    
                    &.image-container {
                        align-self: center;
                        width: 70%;
        
                        order: 2;
                    }
                }
            }

            &#section-contact {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 2.5rem;
    }

    .menu-header-container {
        display: none;
    }

    .btn-expand {
        display: block;
    }

    #front-page-content {
        & section {
            &#section-what, &#section-result, &#section-services {
                & div {
                    &.image-container {
                        width: 80%;
                    }
                }
            }
        }
    }

    .wpcf7 {
        .wpcf7-form {
            padding: 2.5rem;
            flex-flow: column nowrap;

            .col {
                margin-right: 0;
            }

            & > p {
                text-align: center;

                & .wpcf7-submit {
                    width: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #front-page-content {
        & section {
            &#section-testimonial {
                & .testimonials {
                    & img {
                        height: 30px;
                    }
                }
            }

            &#section-what, &#section-result, &#section-services {
                & div {
                    &.image-container {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        flex-direction: column;

        & .footer-content, & .footer-sitemap {
            align-items: center;
        }

        & .footer-sitemap {
            display: none;
        }

        & .footer-sitemap-collapsible {
            display: block;
        }
    }
    
}

// ACCORDION

.footer-sitemap-collapsible {
    display: none;
    padding: 3rem 0;
    margin-top: -5rem;

    & .collapsible {
        & h3 {
            margin: 0;
        }
    }

    & .content {
        flex-direction: column;
    }
}

.collapsible {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    &.active, &:hover {
        background-color: #173469;
    }
}
  
.content {
    display: none;
    overflow: hidden;
    background-color: #fff;

    & a {
        color: $color-primary;
        padding: .5rem 1rem;
        background-color: transparent;
        transition: all .2s;

        &:hover {
            background-color: #d5e1f6;
        }
    }
}