* {
  margin: 0;
  padding: 0; }
  *, *::before, *::after {
    box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #122852; }

header {
  height: 144px;
  background-image: url("../images/header-background_image-grid.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #122852;
  display: flex;
  flex-direction: column; }
  header .heading {
    color: #fff;
    margin: auto 0; }
    header .heading h1::after {
      display: none; }

.container {
  padding: 0 5rem; }

section {
  margin: 0 -5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column; }
  section.justify-center {
    text-align: center;
    align-items: center; }
    section.justify-center h2::after {
      margin: 1.5rem auto; }
  section div {
    flex: 1; }
  section.pullquote {
    background-color: #F14F31;
    text-align: center;
    padding: 5rem 10rem; }
    section.pullquote p {
      font-family: 'Crimson Pro', serif;
      color: #fff; }

.logo {
  width: 160px;
  padding-bottom: 0.5rem; }

h1, h2 {
  font-family: 'Crimson Pro', serif; }
  h1::after, h2::after {
    content: ' ';
    display: block;
    width: 80px;
    border-bottom: 1px solid #F14F31;
    margin: 1.5rem 0; }

h1 {
  font-size: 3.5rem; }
  h1::after {
    margin: 1.5rem auto; }

h2, blockquote p {
  font-size: 2.5rem;
  line-height: 3rem; }

h3, p {
  line-height: 1.8rem;
  margin-bottom: 1rem; }

ul {
  list-style-position: inside; }

a:link,
a:visited {
  font-size: .8rem;
  text-decoration: none; }

.highlight {
  color: #F14F31; }

.btn, .wpcf7-submit {
  display: inline-block;
  font-weight: 700;
  letter-spacing: .05rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 1.5rem 0; }
  .btn:focus, .wpcf7-submit:focus {
    outline: none; }

.btn-full, .wpcf7-submit {
  background-color: #FFB700;
  color: #fff;
  padding: .8rem 3rem;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-out; }
  .btn-full:hover, .wpcf7-submit:hover {
    background-color: #FFC533; }
  .btn-full:active, .wpcf7-submit:active {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(1px); }

.btn-outline {
  border: 2px solid #122852;
  color: #122852;
  padding: .6rem 2rem;
  transition: all .2s ease-out; }
  .btn-outline:hover {
    background-color: #d5e1f6; }
  .btn-outline:active {
    background-color: #abc2ed; }

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: background-color .2s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  #nav #menu-header {
    display: flex; }
    #nav #menu-header .menu-item {
      list-style: none;
      padding-bottom: .2rem;
      letter-spacing: .05rem;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      transition: border-bottom .2s ease-in; }
      #nav #menu-header .menu-item:hover {
        border-bottom: 1px solid #FFB700; }
      #nav #menu-header .menu-item.current-menu-item {
        border-bottom: 1px solid #FFB700; }
      #nav #menu-header .menu-item a {
        color: #122852; }
    #nav #menu-header .menu-item:not(:first-child) {
      margin-left: 3rem; }
  #nav.top-of-page {
    background-color: transparent;
    box-shadow: none; }
    #nav.top-of-page #menu-header .menu-item a {
      color: #fff; }

.wpcf7-form {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .wpcf7-form .col {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column; }
    .wpcf7-form .col label {
      font-size: .8rem; }
    .wpcf7-form .col .wpcf7-form-control-wrap {
      display: block; }
      .wpcf7-form .col .wpcf7-form-control-wrap.your-message {
        height: 92%; }
      .wpcf7-form .col .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
        position: absolute;
        right: 0;
        top: -55%; }
    .wpcf7-form .col .wpcf7-form-control {
      font-size: .8rem;
      width: 100%;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      margin: .2rem 0 .5rem 0;
      padding: .8rem; }
      .wpcf7-form .col .wpcf7-form-control:focus {
        outline: none;
        border: 1px solid #FFB700; }
    .wpcf7-form .col .wpcf7-textarea {
      height: 100%;
      resize: vertical; }
  .wpcf7-form .col:nth-of-type(2) {
    margin-right: 10%; }
  .wpcf7-form p {
    margin: 0; }
    .wpcf7-form p .wpcf7-submit {
      width: 100%; }
    .wpcf7-form p .ajax-loader {
      display: inline; }
  .wpcf7-form .wpcf7-response-output {
    font-size: .8rem;
    flex-basis: 100%;
    margin: 0;
    padding: 1rem; }

footer {
  background-color: #122852;
  display: flex; }
  footer .footer-content, footer .footer-sitemap {
    color: #fff;
    padding: 3rem 0;
    flex: 1;
    display: flex; }
    footer .footer-content p, footer .footer-sitemap p {
      font-size: .8rem;
      margin: 0; }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-between; }
    footer .footer-content li {
      list-style: none; }
  footer .footer-sitemap li {
    list-style: none; }
  footer .footer-sitemap #menu-footer-menu .menu-item, footer .footer-sitemap #menu-footer-legal .menu-item {
    list-style: none;
    margin-bottom: .5rem; }
    footer .footer-sitemap #menu-footer-menu .menu-item a, footer .footer-sitemap #menu-footer-legal .menu-item a {
      color: #fff; }
  footer .footer-sitemap .widget_nav_menu:not(:first-child) {
    margin-left: 5rem; }

#front-page-content section {
  flex-flow: row wrap; }

#front-page-content > section:nth-of-type(odd) {
  background-color: #F0F2FC; }

#front-page-content #section-what, #front-page-content #section-result, #front-page-content #section-services {
  padding-bottom: 0; }
  #front-page-content #section-what div, #front-page-content #section-result div, #front-page-content #section-services div {
    margin: 0 2rem; }
    #front-page-content #section-what div:first-child, #front-page-content #section-result div:first-child, #front-page-content #section-services div:first-child {
      margin-left: 0; }
    #front-page-content #section-what div:last-child, #front-page-content #section-result div:last-child, #front-page-content #section-services div:last-child {
      margin-right: 0; }
    #front-page-content #section-what div img, #front-page-content #section-result div img, #front-page-content #section-services div img {
      width: 100%;
      height: 100%; }

#front-page-content #section-testimonial {
  padding: 3rem 5rem; }
  #front-page-content #section-testimonial .testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    #front-page-content #section-testimonial .testimonials img {
      height: 50px;
      flex: 1; }
    #front-page-content #section-testimonial .testimonials #drop-logo {
      margin-top: .5rem; }

#section-challenges {
  flex-flow: row wrap;
  align-items: flex-start; }
  #section-challenges h2 {
    flex-basis: 35%;
    padding-right: 2.5rem; }
    #section-challenges h2::after {
      display: none; }
  #section-challenges p {
    flex-basis: 65%;
    padding-left: 2.5rem;
    border-left: 1px solid #F14F31; }

#section-process {
  position: relative; }
  #section-process h2 {
    margin-bottom: 5rem; }
  #section-process .process-list {
    display: flex;
    flex-flow: column nowrap; }
    #section-process .process-list .process-item {
      width: 50%;
      display: flex;
      align-items: center; }
      #section-process .process-list .process-item span {
        background-color: #F14F31;
        border-radius: 50%;
        padding: 2rem 2.2rem;
        text-align: center; }
        #section-process .process-list .process-item span i {
          color: #fff;
          font-size: 1.2rem; }
      #section-process .process-list .process-item:nth-of-type(odd) span {
        margin-left: 3rem;
        margin-right: -42px; }
      #section-process .process-list .process-item:nth-of-type(even) {
        align-self: flex-end; }
        #section-process .process-list .process-item:nth-of-type(even) span {
          margin-right: 3rem;
          margin-left: -42px; }
  #section-process .vertical-line {
    content: " ";
    height: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    border: 1px solid #F14F31;
    z-index: -1; }

.about-page-content section:nth-of-type(odd) {
  background-color: #F0F2FC; }

.about-page-content section.section-title {
  background-color: #fff; }

.about-page-content #section-intro {
  align-items: flex-start; }
  .about-page-content #section-intro h1::after {
    display: none; }

.about-page-content #section-team {
  flex-flow: row wrap; }

#section-contact h1 {
  align-self: center; }

#section-contact h2 {
  text-align: center; }
  #section-contact h2::after {
    margin: 1.5rem auto; }

.wp-block-group {
  margin-bottom: 3rem; }
  .wp-block-group li {
    line-height: 2rem; }
  .wp-block-group a {
    font-size: 1rem;
    color: #F14F31; }

.section-title {
  margin-bottom: -5rem;
  text-align: center; }
